<header>
<nav style="background-color:lightgrey;color:black;padding:0.5px">
    <div style="margin:15px;">
        <h2 style="display:inline;">{{brand}}</h2>
        &nbsp; &nbsp; &nbsp;
        <a href="/">Home</a>
        &nbsp;
        <a href="/about">About</a>
    </div>    
</nav>
</header>
